.box {
    position: relative;
    display: flex;
    align-items: flex-start;
    min-width: 1947px;
}

.box .confirmao-personagem {
    position: fixed;
    width: 1947px;
    height: 1080px;
    z-index: 1;
}

.box .fundo {
    left: 0;
    width: 1947px;
    height: 1080px;
    position: absolute;
    top: 0;
}

.box .rectangle {
    position: absolute;
    top: 0;
    left: 27px;
    width: 1920px;
    height: 1080px;
    background: linear-gradient(180deg, rgba(10, 10, 10, 1) 0%, rgba(1, 1, 1, 1) 100%);
}

.box .div {
    position: absolute;
    top: 0;
    left: 0;
    width: 107px;
    height: 1080px;
    background-color: #222222;
    border-right-width: 20px;
    border-right-style: solid;
    border-color: #5b2222;
}

.box .classe-raa {
    position: absolute;
    top: 282px;
    left: 1443px;
    width: 500px;
    height: 547px;
}

.box .rectangle-wrapper {
    left: 64px;
    width: 392px;
    height: 547px;
    display: flex;
    background-color: #1e1e1e;
    border: 10px solid;
    border-color: #5b2222;
    position: absolute;
    top: 0;
}

.box .rectangle-2 {
    margin-top: 422.6px;
    width: 391.81px;
    height: 124.11px;
    background-color: #5b2222;
    border-radius: 0px 0px 100px 0px;
}

.box .escrito {
    position: absolute;
    top: 440px;
    left: 96px;
    width: 279px;
    height: 89px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.box .text-wrapper {
    width: 230px;
    height: 56px;
    font-family: "MedievalSharp-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .text-wrapper-2 {
    margin-left: 4px;
    width: 271px;
    height: 27px;
    font-family: "MedievalSharp-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .escudeiro {
    position: absolute;
    top: 9px;
    left: 0;
    width: 500px;
    height: 414px;
    aspect-ratio: 1.21;
}

.box .descrio {
    position: absolute;
    top: 210px;
    left: 138px;
    width: 884px;
    height: 692px;
}

.box .div-wrapper {
    left: 0;
    width: 876px;
    height: 692px;
    display: flex;
    background-color: #1e1e1e;
    border: 10px solid;
    border-color: #5b2222;
    position: absolute;
    top: 0;
}

.box .rectangle-3 {
    margin-top: 534.9px;
    width: 876.28px;
    height: 157.09px;
    background-color: #5b2222;
    border-radius: 0px 0px 100px 0px;
}

.box .escritos {
    position: absolute;
    top: 562px;
    left: 41px;
    width: 209px;
    height: 108px;
    display: flex;
    flex-direction: column;
    gap: 12.7px;
}

.box .nome {
    margin-left: 6px;
    width: 140px;
    height: 60.76px;
    font-family: "MedievalSharp-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.box .classe {
    width: 205px;
    height: 34.18px;
    font-family: "MedievalSharp-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.box .barra-nome {
    width: 400px;
    top: 590px;
    left: 174px;
    position: absolute;
    height: 21px;
}

.box .notas {
    position: absolute;
    top: 26px;
    left: 596px;
    width: 290px;
    height: 469px;
}

.box .caixa {
    left: 22px;
    width: 241px;
    position: absolute;
    top: 76px;
    height: 393px;
    border-radius: 3px;
    border: 5px solid;
    border-color: #5b2222;
}

.box .detalhe {
    left: 24px;
    position: absolute;
    top: 440px;
    width: 29px;
    height: 29px;
    background-color: #5b2222;
    border-radius: 0px 0px 0px 30px;
    transform: rotate(-180.00deg);
}

.box .barra {
    top: 43px;
    left: 65px;
    width: 153px;
    position: absolute;
    height: 21px;
}

.box .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 288px;
    font-family: "MedievalSharp-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .barra-separao {
    left: 602px;
    position: absolute;
    top: 0;
    width: 9px;
    height: 568px;
}

.box .aparncia {
    position: absolute;
    top: 26px;
    left: 319px;
    width: 290px;
    height: 469px;
}

.box .caixa-2 {
    left: 1px;
    width: 276px;
    position: absolute;
    top: 76px;
    height: 393px;
    border-radius: 3px;
    border: 5px solid;
    border-color: #5b2222;
}

.box .detalhe-2 {
    left: 3px;
    position: absolute;
    top: 440px;
    width: 29px;
    height: 29px;
    background-color: #5b2222;
    border-radius: 0px 0px 0px 30px;
    transform: rotate(-180.00deg);
}

.box .img {
    left: 305px;
    position: absolute;
    top: 0;
    width: 9px;
    height: 568px;
}

.box .histria {
    position: absolute;
    top: 26px;
    left: 16px;
    width: 290px;
    height: 469px;
}

.box .caixa-3 {
    left: 4px;
    width: 276px;
    position: absolute;
    top: 76px;
    height: 393px;
    border-radius: 3px;
    border: 5px solid;
    border-color: #5b2222;
}

.box .detalhe-3 {
    left: 6px;
    position: absolute;
    top: 440px;
    width: 29px;
    height: 29px;
    background-color: #5b2222;
    border-radius: 0px 0px 0px 30px;
    transform: rotate(-180.00deg);
}

.box .informaes {
    position: absolute;
    width: 392px;
    height: 547px;
    top: 282px;
    left: 1052px;
}

.box .fundo-2 {
    left: 0;
    width: 392px;
    height: 547px;
    display: flex;
    flex-direction: column;
    gap: 191.8px;
    background-color: #1e1e1e;
    border: 10px solid;
    border-color: #5b2222;
    position: absolute;
    top: 0;
}

.box .divissria {
    margin-left: 0.4px;
    width: 391px;
    height: 11px;
    margin-top: 219.8px;
}

.box .rectangle-4 {
    width: 391.81px;
    height: 124.11px;
    background-color: #5b2222;
    border-radius: 0px 0px 100px 0px;
}

.box .extras {
    position: absolute;
    top: 253px;
    left: 40px;
    width: 278px;
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.box .text-wrapper-4 {
    width: 185px;
    height: 28px;
    font-family: "MedievalSharp-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .text-wrapper-5 {
    width: 195px;
    height: 28px;
    font-family: "MedievalSharp-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .text-wrapper-6 {
    width: 272px;
    height: 28px;
    font-family: "MedievalSharp-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .atributos {
    position: absolute;
    width: 355px;
    height: 203px;
    top: 22px;
    left: 12px;
}

.box .bravura {
    top: 100px;
    left: 250px;
    width: 103px;
    position: absolute;
    height: 100px;
}

.box .text-wrapper-7 {
    top: 36px;
    left: 90px;
    position: absolute;
    font-family: "MedievalSharp-Regular", Helvetica;
    font-weight: 400;
    color: #5b2222;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .img-2 {
    top: 0;
    left: 0;
    width: 100px;
    aspect-ratio: 1;
    object-fit: cover;
    position: absolute;
    height: 100px;
}

.box .essncia {
    position: absolute;
    top: 103px;
    left: 121px;
    width: 102px;
    height: 100px;
}

.box .text-wrapper-8 {
    top: 33px;
    left: 89px;
    position: absolute;
    font-family: "MedievalSharp-Regular", Helvetica;
    font-weight: 400;
    color: #5b2222;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .folego {
    top: 103px;
    width: 102px;
    position: absolute;
    left: 0;
    height: 100px;
}

.box .tcnica {
    position: absolute;
    top: 0;
    left: 255px;
    width: 102px;
    height: 100px;
}

.box .text-wrapper-9 {
    top: 32px;
    left: 85px;
    position: absolute;
    font-family: "MedievalSharp-Regular", Helvetica;
    font-weight: 400;
    color: #5b2222;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .intelecto {
    left: 121px;
    width: 102px;
    position: absolute;
    top: 0;
    height: 100px;
}

.box .text-wrapper-10 {
    top: 32px;
    left: 89px;
    position: absolute;
    font-family: "MedievalSharp-Regular", Helvetica;
    font-weight: 400;
    color: #5b2222;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .arcano {
    width: 102px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
}